:root {
  /* -- Main Greens */
  --green_pantone: #14b85b;
  --sea_green: #20834b;
  --cadmium_green: #1a6c3d;
  --shadow_green: #1a6c3d66;
  --shadow_green_mat: #1a55349f;
  --shadow_green_opak: #1a6c3e;
  --cadmium_green_tra: #1a6c3e54;
  --cadmium_green_window: #1a6c3ec1;
  --cadmium_green_window_li: #14b85be5;
  --cadmium_green_dark: #185331;

  /* -- Dark Colors */
  --modal_back: #0c0c0cbf;
  --black_light: #151515;
  --black_light_tra: #151515cc;
  --side_black: #181818;
  --middle_black: #1b1b1b;
  --earie_black: #1f1f1f;
  --darkest_jet: #202020;
  --darker_jet: #232323;
  --jet_shadow: #292929d4;
  --jet: #292929;
  --jet_mid: #2e2e2e;
  --jet_glass: #2e2e2e6b;
  --jet_light: #333333;
  --hr_gray: #4950573d;
  --onyx: #3d3d3d;
  --onyx_middle: #606060;
  --onyx_light: #767676;

  /* -- Light Colors */
  --graysix: #858585;
  --grayXgray: #b9b9b9;
  --cultured: #b9b9b9;
  --platinium: #ebebeb;
  /* ---- */
  --white: #fff;

  /* -- Other Colors */
  --danger: #631e24;
  --danger_light: #861e27;
  --like_trans: #1b151545;
  --none_opacity: #0000009e;
}

body {
  background-color: var(--earie_black);
  background-size: auto;
  font-family: "Montserrat";
  color: var(--platinium);
  overflow-x: hidden;
}

.light {
  background-color: var(--white);
  color: var(--black_light);
}

a {
  text-decoration: none;
}

#theme-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black_light);
  z-index: 999999;
  transition: .2s;
}



*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #1f1f1f00;
}

*::-webkit-scrollbar-thumb {
	background-color: #0000005b;
	border-radius: 0px;
}


html {
  margin-top: 0 !important;
}