
@media screen and (max-width: 990px) {
  #nav .navbar-nav {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  #nav .navbar .nav-link {
    font-size: 1.3rem !important;
  }
  #nav .nav-item {
    width: 100% !important;
    text-align: right !important;
  }
  #nav {
    height: auto !important;
  }

  #nav .nav-dropdown .list-group-item {
    text-align: right !important;
  }
  
  #nav .navbar-brand {
    padding: 0 25px !important;
  }
}


#nav {
  padding: 20px 0;
  position: absolute;
  width: 100%;
  background: rgb(34,34,34);
  background: linear-gradient(0deg, rgba(34,34,34,0) 10%, rgb(21, 21, 21) 90%);
  height: 120px;
  transition: .2s;
  z-index: 10;
}

.light #nav {
  background: rgb(34,34,34);
  background: linear-gradient(0deg, rgba(34,34,34,0) 10%, rgb(252, 252, 252) 90%);
}

#nav .nav-collapse-bg, .nav-collapse-bg .navbar-collapse {
  background-color: var(--black_light) !important;
}

.light #nav .nav-collapse-bg, .nav-collapse-bg .navbar-collapse {
  background-color: rgb(252, 252, 252) !important;
}



#nav .navbar-toggler {
  color: var(--platinium);
  padding: 5px 20px;
}

.light #nav .navbar-toggler  {
  color: var(--black_light);
  border-width: 0;
  padding-right: 30px;
}

#nav .navbar-toggler:focus {
  outline-style: none;
}

#nav .nav-link {
  font-size: 1.1em;
  padding: 10px 15px;
  color: var(--platinium);
  margin-top: 10px;
  z-index: 2;
}

.light #nav .nav-link {
  color: var(--black_light);
  font-size: 1.2em;
}

#nav .nav-link:hover {
  color: var(--green_pantone) !important;
}

.light #nav .nav-link:hover {
  color: var(--shadow_green_mat) !important;
}

#nav .nav-item:hover {
  background: linear-gradient(180deg, rgba(34,34,34,0) 10%, rgb(32, 32, 32) 100%);
}

.light #nav .nav-item:hover {
  background: linear-gradient(180deg, rgba(34,34,34,0) 10%, rgb(219, 219, 219) 100%);
}

#nav .navbar-brand {
  padding: 0 15px;
  text-decoration: none;
}

#nav .navbar-mid-brand {
  padding: 0 15px;
  position: relative;
  transform: scale(1.4) translateY(10px);
  text-align: center;
  text-decoration: none;
  color: var(--cadmium_green);
  /* text-transform: uppercase; */
  font-size: 14px;
  transition: .5s;
}


.light #nav .navbar-mid-brand {
  color: var(--shadow_green_mat);
  font-weight: bold;
  letter-spacing: .5px;
}

#nav .navbar-mid-brand:hover {
  color: var(--green_pantone);
}

.light #nav .navbar-mid-brand:hover {
  color: var(--cadmium_green_dark);
}

#nav .navbar-mid-brand img {
  height: 60px;
}

#nav .navbar-mid-heading {
  text-shadow: 0 0 15px rgb(12 12 12);
  white-space: nowrap;
}

.light #nav .navbar-mid-heading {
  text-shadow: 0 0 15px rgb(221, 221, 221);
}

#nav .nav-item {
  width: 200px;
  text-align: center;
}




#nav .nav-dropdown {
  position: absolute;
  background-color: transparent;
  color: var(--black_light);
  border-radius: 2px;
  width: inherit;
  z-index: 1;
  height: 0;
  overflow-y: hidden;
  transition: .2s;
}

#nav .nav-dropdown-open {
  box-shadow: 1px 5px 20px 4px rgba(0, 0, 0, 0.364);
}

.light #nav .nav-dropdown-open {
  box-shadow: 1px 5px 20px 4px rgba(0, 0, 0, 0.1);
}

#nav .nav-dropdown .list-group {
  border-radius: 2px;
}

#nav .nav-dropdown .list-group-item {
  text-align: center;
  background-color: var(--side_black);
  color: var(--platinium);
  font-size: 15px;
  transition: .2s;
  border-width: 0;
}

.light #nav .nav-dropdown .list-group-item {
  background-color: var(--platinium);
  color: var(--side_black);
}

#nav .nav-dropdown .list-group-item:hover {
  color: var(--cadmium_green_dark);
  background-color: var(--middle_black);
}

.light #nav .nav-dropdown .list-group-item:hover {
  color: var(--cadmium_green);
  background-color: var(--white);
}

#nav .active {
  height: auto;
  transition: .2s;
}

#nav .btn {
  color: var(--platinium);
  border: solid 1px var(--graysix);
}

.light #nav .btn {
  color: var(--black_light);
}

.btn-login {
  position: absolute; 
  right: 35px; 
  top: 35px;
  font-size: 18px;
  border: solid 1px var(--onyx);
  color: var(--platinium);
  border-radius: 3px;
  width: 42px;
  transition: .3s;
  overflow-x: hidden;
  white-space: nowrap;
}

.btn-login span {
  opacity: 0;
  white-space: nowrap;
  font-weight: bold;
}

.btn-login:hover {
  color: var(--green_pantone) !important;
  background-color: var(--darkest_jet);
  border: solid 1px var(--onyx);
  width: 145px;
}

.light .btn:hover {
  background-color: var(--platinium);
}

.btn-login-active {
  width: 145px !important;
  color: var(--green_pantone) !important;
  background-color: var(--darkest_jet);
  border: solid 1px var(--onyx);
  box-shadow: 0 0 17px 3px var(--green_pantone);
}

.btn-login-active span {
  opacity: 1;
}

.btn-login:hover span {
  opacity: 1;
}


.light .btn-theme {
  width: 41px;
}

.btn-theme {
  position: absolute; 
  right: 90px; 
  top: 35px;
  font-size: 18px;
  border: solid 1px var(--onyx);
  border-radius: 3px;
  width: 45px;
  transition: .3s;
  overflow-x: hidden;
  white-space: nowrap;
}

.btn-theme:hover {
  color: var(--green_pantone);
  background-color: var(--darkest_jet);
  border: solid 1px var(--onyx);
  width: 150px;
}

.btn-theme span {
  opacity: 0;
  white-space: nowrap;
  font-weight: bold;
}

.btn-theme:hover span {
  opacity: 1;
}


@media screen and (max-width: 1220px) {
  .btn-login {
    top: 100px;
    right: 15px;
  }
  .btn-theme {
    top: 145px;
    right: 15px;
  }
}





#nav-stick {
  overflow-y: hidden;
  height: 0;
  transition: .3s;
  padding: 0;
  background: rgb(34,34,34);
  background: linear-gradient(0deg, rgba(34, 34, 34, 0) 0%, rgb(21, 21, 21) 40%);
}

.light #nav-stick {
  background: linear-gradient(0deg, rgba(34, 34, 34, 0) 0%, rgb(255, 255, 255) 60%);
}


#nav-stick .container-fluid {
  padding: 7px 15px;
}

#nav-stick .nav-link {
  color: var(--cultured);
}

.light #nav-stick .nav-link {
  color: var(--black_light);
}
.light #nav-stick .nav-link:hover {
  color: var(--cadmium_green);
}

#nav-stick .nav-link:hover {
  color: var(--platinium);
}

#nav-stick .btn-login {
  top: 5px !important;
  right: 20px;
  transform: scale(0.9);
}

.light #nav-stick .btn-login {
  color: var(--black_light);
}

#nav-stick .navbar-brand {
  padding-left: 15px;
}