
.sectoral-outer {
  margin-top: -220px;
  padding-top: 500px;
  margin-bottom: -20px;
  background-image: url('../img/backgrounds/sectoral-bg.png');
  background-repeat: no-repeat;
}

.light .sectoral-outer {
  background-image: url('../img/backgrounds/light-sectoral-bg.png');
}

.sectoral-outer h1 {
  text-align: center;
  font-size: 65px;
  font-family: "Righteous";
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  letter-spacing: 4px;
  margin-bottom: 120px;
}
.light .sectoral-outer h1 {
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}


.sectoral-col {
  background-color: var(--darkest_jet);
  border-radius: 7px;
  border: solid 3px var(--onyx_middle);
  padding: 40px;
}

.light .sectoral-col {
  background-color: var(--platinium);
  border: solid 3px var(--cultured);
}

.sectoral-col h2 {
  color: var(--green_pantone);
  font-size: 50px;
  font-family: "Righteous";
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 30px;
}

.sectoral-col p {
  font-size: 22px;
}

.sectoral-outer .side-col {
  margin-top: 200px;
}

.sectoral-outer .details {
  text-align: center;
  padding-bottom: 50px;
}

.sectoral-outer .details a {
  color: var(--green_pantone);
  font-size: 20px;
  text-decoration: none;
  transition: .2s;
}

.light .sectoral-outer .details a {
  color: var(--darkest_jet);
  font-size: 22px;
}


.sectoral-outer .details a:hover {
  color: var(--cadmium_green);
}



@media screen and (max-width: 990px) {
  .sectoral-outer {
    padding-top: 650px;
    margin-top: -500px;
  }
  .sectoral-outer h1 {
    font-size: 40px;
    margin-bottom: 50px;
  }
  .sectoral-outer .side-col {
    margin-top: 20px;
  }
  .sectoral-col {
    margin-top: 20px;
  }
  .sectoral-outer .details {
    margin-top: 60px;
  }
  .sectoral-col h2 {
    font-size: 30px;
  }
  .sectoral-col p {
    font-size: 18px;
  }
}