

.stage-outer {
  padding: 20px;
  padding-top: 100px;
  min-height: 500px;
  background-image: url('../img/backgrounds/stage-bg.png');
  background-size: cover;
  background-position: center bottom;
  position: relative;
}

.light .stage-outer {
  background-image: url('../img/backgrounds/light-stage-bg.png');
}

.stage-text {
  padding-top: 130px;
  padding-left: 20px;
}

.stage-text .heading {
  font-size: 83px;
  font-family: "Righteous";
  text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
  position: relative;
  line-height: 83px;
  letter-spacing: 2px;
}

.light .stage-text .heading {
  color: var(--earie_black);
  text-shadow: 0px 5px 20px rgba(0, 0, 0, 0);
}

.stage-text .heading span {
  font-size: 120px;
  position: absolute;
  bottom: 0;
  color: var(--cadmium_green);
}

.light .stage-text .heading span {
  color: var(--sea_green);
  text-shadow: 0px 5px 20px rgba(0, 0, 0, 0);
}

.stage-text .divider {
  height: 3px;
  background-color: var(--cadmium_green);
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.65;
}

.light .stage-text .divider {
  background-color: var(--shadow_green_mat);
}

.stage-text .details {
  font-size: 24px;
  letter-spacing: 1px;
  padding-right: 20px;
}

.light .stage-text .details {
  color: var(--earie_black);
}

.stage-anim {
  padding: 30px;
  text-align: right;
  position: relative;
  text-align: center;
}

.stage-anim img {
  width: 85%;
}


.stage-feature-outer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
}

.stage-feature {
  font-size: 38px;
  font-family: "Righteous";
  letter-spacing: 2px;
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}


.light .stage-feature {
  color: var(--black_light);
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0);
}

.stage-feature span {
  color: var(--green_pantone);
}

.light .stage-feature span {
  color: var(--shadow_green_opak);
}


.stage-page {
  padding-top: 140px;
  min-height: 400px;
}

.stage-page-title {
  margin-top: 100px;
}

.stage-page-title h1 {
  color: var(--green_pantone);
  font-family: "Righteous";
  letter-spacing: 2px;
  text-align: center;
  font-size: 60px;
}





@media screen and (max-width: 1370px) {
  .stage-text .heading {
    font-size: 73px;
    line-height: 73px;
  }
}

@media screen and (max-width: 990px) {
  .stage-text {
    padding: 10px;
  }
  .stage-text .heading {
    font-size: 50px;
    line-height: 55px;
  }
  .stage-text .heading span {
    font-size: 75px;
    margin-left: 0;
    position: relative;
  }
  .stage-text .details {
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-bottom: 5px;
  }
  .stage-feature {
    font-size: 25px;
  }
  .stage-page-title h1 {
    font-size: 40px;
  }
  .stage-page {
    padding-top: 30px;
    min-height: 300px;
  }
  .stage-anim {
    padding: 10px;
    overflow: hidden;
  }
  .stage-anim img {
    width: calc(100% + 10px);
  }
}


@media screen and (max-width: 370px) {
  .stage-text .heading span {
    font-size: 65px;
  }
  .stage-text .heading {
    font-size: 40px;
    line-height: 45px;
  }
}


@media screen and (max-width: 320px) {
  .stage-text .heading span {
    display: none;
  }
}



.light #anim-0 {
  content: url('../img/light-stage-screen-anim_0.png');
}

.light #anim-1 {
  content: url('../img/light-stage-screen-anim_1.png');
}
.light #anim-2 {
  content: url('../img/light-stage-screen-anim_2.png');
}
.light #anim-3 {
  content: url('../img/light-stage-screen-anim_3.png');
}
.light #anim-4 {
  content: url('../img/light-stage-screen-anim_4.png');
}