

.supported-platforms-outer {
  margin-top: 50px;
}

.supported-platforms-outer .header h1 {
  text-align: center;
  font-family: "Righteous";
  letter-spacing: 1.5px;
  font-size: 55px;
  color: var(--green_pantone);
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.light .supported-platforms-outer .header h1 {
  text-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
  margin-top: 200px;
}

.supported-platforms-outer .header p {
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: -10px;
  padding-bottom: 80px;
}


.light .supported-platforms-outer .header p {
  color: var(--black_light);
  font-weight: 600;
}

.supported-platforms-outer .header p span {
  color: var(--green_pantone);
}

.light .supported-platforms-outer .header p span {
  color: var(--cadmium_green);
}


.supported-platforms-details-outer {
  background-image: url('../img/backgrounds/supported-bg.png');
  background-size: cover;
  background-position: center top;
  margin-top: -350px;
  padding-top: 350px;

}

.light .supported-platforms-details-outer {
  background-image: url('../img/backgrounds/light-supported-bg.png');
}

.supported-platforms-details-outer .platform-col {
  padding: 50px;
  text-align: center;
}


.supported-platforms-details-outer .platform-col img {
  width: 85%;
}

.supported-platforms-details-outer .platform-details {
  text-align: center;
  padding-top: 100px;
}
.supported-platforms-details-outer .platform-details a {
  color: var(--green_pantone);
  font-size: 20px;
  text-decoration: none;
  transition: .2s;
}
.light .supported-platforms-details-outer .platform-details a {
  color: var(--cadmium_green);
  font-size: 22px;
}
.supported-platforms-details-outer .platform-details a:hover {
  color: var(--cadmium_green);
}
.light .supported-platforms-details-outer .platform-details a:hover {
  color: var(--black_light);
}

#supported-pad {
  height: 200px;
}


@media screen and (max-width: 990px) {
  .supported-platforms-outer {
    margin-top: 0;
  }
  .supported-platforms-outer .header h1 {
    font-size: 45px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
  }
  .supported-platforms-outer .header p {
    font-size: 18px;
    letter-spacing: 0;
  }
  .supported-platforms-details-outer .platform-col {
    padding: 0;
    padding-bottom: 20px;
  }
  .supported-platforms-details-outer .platform-col img {
    width: 60%
  }
  
  #supported-pad {
    height: 100px;
  }
}

.light #supp_parasut {
  content: url('../img/light-supported_parasut.png');
}
.light #supp_binance {
  content: url('../img/light-supported_binance.png');
}
.light #supp_trendyol {
  content: url('../img/light-supported_trendyol.png');
}