
.features-outer {
  padding: 40px;
  margin-top: -60px;
}

.feature-col {
  text-align: center;
  z-index: 1;
  height: fit-content;
  transition: .2s;
  cursor: pointer;
}

.feature-col:hover {
  transform: scale(1.03);
}

.feature-col h2 {
  font-size: 27px;
  margin-top: 20px;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--sea_green);
}

.light .feature-col h2 {
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  color: var(--shadow_green_opak);
}

.light .feature-passive h2 {
  color: var(--black_light);
}

.feature-col img {
  height: 80px;
}

.feature-mid-col {
  margin-top: 100px;
}

.feature-passive img {
  filter: grayscale(100%);
  opacity: 0.3;
}

.feature-passive h2 {
  color: var(--graysix);
}

.light .feature-passive img {
  opacity: 0.5;
}


@media screen and (max-width: 990px) {
  .features-outer {
    padding: 25px;
    padding-top: 50px;
  }
  .feature-col {
    margin-top: -20px;
    padding-top: 20px;
    padding: 0;
    padding-bottom: 5px;
    border-bottom: solid 1px var(--green_pantone);
    border-radius: 0px;
    background: linear-gradient(0deg, rgba(20,184,91,0.05) 0%, rgba(27,27,27,0) 31%);
  }
  .feature-passive {
    border-bottom: solid 2px transparent;
    background: none;
  }
  .feature-col img {
    height: 40px;
  }
  .feature-col h2 {
    font-size: 13px;
    padding: 0 10px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 0.5px;
    overflow-x: hidden;
  }
  .feature-mid-col {
    padding-top: 0px;
  }
}


/* ------------------- */

.feature-details {
  position: relative;
}

.feature-details-outer {
  background-image: url('../img/backgrounds/feature-bg.png');
  background-size: cover;
  background-position: center top;
  position: relative;
  padding-top: 180px;
  margin-top: -80px;
}

.light .feature-details-outer {
  background-image: url('../img/backgrounds/light-feature-bg.png');
}

.feature-window-outer {
  position: relative;
  padding: 20px;
}

.feature-element-window {
  position: relative;
  height: 100%;
}

.feature-element-text {
  min-height: 500px;
}

.feature-element-text h3 {
  font-size: 45px;
  font-family: "Righteous";
  letter-spacing: 2px;
  color: var(--green_pantone);
}

.light .feature-element-text h3 {
  color: var(--shadow_green_opak);
}

.feature-element-text .divider {
  height: 3px;
  width: 50%;
  background-color: var(--graysix);
  margin-top: 20px;
  margin-bottom: 20px;
}

.light .feature-element-text .divider {
  background-color: var(--black_light);
}

.feature-element-text p {
  font-size: 21px;
  color: var(--cultured);
}

.light .feature-element-text p {
  color: var(--darker_jet);
}

.feature-element-text p .spacing {
  width: 20px;
  height: 1px;
  display: inline-block;
}


@media screen and (max-width: 990px) {
  .feature-details-outer {
    padding-top: 50px;
  }
  .feature-element-text {
    margin-top: 20px;
  }
  .feature-element-text h3 {
    font-size: 25px;
    text-align: center;
  }
  .feature-element-text .divider {
    width: 100%;
  }
  .feature-element-text p {
    font-size: 17px;
    text-align: justify;
  }
  .feature-details-element {
    height: 750px;
  }
  .feature-details {
    overflow-x: hidden;
  }
  
}


@media screen and (max-width: 1200px) {

  .feature-element-text {
    min-height: auto;
  }
}


.light #win .window-context img {
  content: url('../img/light-debi-screen-2.png');
}
.light #win2 .window-context img {
  content: url('../img/light-debi-screen-2.png');
}
.light #win3 .window-context img {
  content: url('../img/light-debi-screen-2.png');
}