

.free-trial-outer {
  padding: 30px 0;
  margin-top: 180px;
}


.free-trial-card {
  padding: 55px 25px;
  background-color: var(--shadow_green_mat);
  border-radius: 3px;
  border: solid 3px var(--hr_gray)
}


.light .free-trial-card {
  background-color: rgba(255, 255, 255, 0.85);
  border: solid 2px var(--cultured)
}

.light .free-trial-card h1 {
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0);
}


.light .free-trial-card h2 {
  color: var(--middle_black);
}

.free-trial-card h1 {
  text-align: center;
  font-family: "Righteous";
  font-size: 55px;
  letter-spacing: 2px;
  color: var(--green_pantone);
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.free-trial-card h2 {
  text-align: center;
  font-size: 28px;
  margin-top: 20px;
}

.free-trial-form {
  margin-top: 30px;
  padding: 20px;
}

.free-trial-form .form-label {
  font-size: 18px;
  margin-bottom: 3px;
}

.light .free-trial-form .form-label {
  color: var(--middle_black);
}

.free-trial-form .form-control {
  background-color: var(--jet_shadow);
  border-width: 0;
  border-radius: 3px;
  color: var(--platinium);
}

.light .free-trial-form .form-control {
  background-color: var(--cultured);
  color: var(--middle_black);
}

.free-trial-form .form-control::placeholder {
  color: var(--cultured);
}

.light .free-trial-form .form-control::placeholder {
  color: var(--jet_light);
}

.free-trial-form .btn {
  background-color: var(--green_pantone);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  font-size: 20px;
  color: var(--earie_black);
  letter-spacing: 0.5px;
  font-weight: bold;
  transition: .2s;
}

.light .free-trial-form .btn {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  color: var(--white);
}

.free-trial-form .btn:hover {
  background-color: var(--cadmium_green_dark);
  color: var(--platinium);
}



@media screen and (max-width: 990px) {
  .free-trial-outer {
    background-color: var(--shadow_green_mat);
  }
  .light .free-trial-outer { 
    background-color: var(--platinium);
  }
  .free-trial-card {
    background-color: transparent !important;
    padding: 20px;
    padding-right: 0;
    border-color: transparent !important;
  }
  .free-trial-card h1 {
    font-size: 40px;
  }
  .free-trial-card h2 {
    font-size: 22px;
  }
  .free-trial-form {
    margin-top: 5px;
    margin-bottom: 0 !important;
  }
}