:root {
/* -- Main Greens */
    --green_pantone: #14B85B;
    --sea_green: #20834B;
    --cadmium_green: #1A6C3D;
    --shadow_green: #1a6c3d66;
    --cadmium_green_tra: #1a6c3e54;
    --cadmium_green_window: #1a6c3ec1;

/* -- Dark Colors */
    --modal_back: #0C0C0CBF;
    --black_light: #151515;
    --side_black: #181818;
    --middle_black: #1B1B1B;
    --earie_black: #1F1F1F;
    --darkest_jet: #202020;
    --darker_jet: #232323;
    --jet_shadow: #292929d4;
    --jet: #292929;
    --jet_mid: #2E2E2E;
    --jet_glass: #2e2e2e6b;
    --jet_light: #333333;
    --hr_gray: #4950573d;
    --onyx: #3D3D3D;
    --onyx_middle: #606060;
    --onyx_light: #767676;

/* -- Light Colors */
    --graysix: #858585;
    --grayXgray: #B9B9B9;
    --platinium: #EBEBEB;
    --cultured: #b9b9b9;

/* -- Other Colors */
    --danger: #631E24;
    --danger_light: #861E27;
    --like_trans: #1b151545;
    --none_opacity: #0000009e;
}


body {
  background-color: var(--black_light);
  background-size: auto;
  font-family: "Montserrat", sans-serif;
  color: var(--platinium);
  overflow-x: hidden;
}


.features {
    padding: 30px 5px;
}

.features-list {
    width: 100%;
    position: relative;
    cursor: default;
}

.features-list-elm {
    font-size: 28px;
    font-family: "Righteous", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    color: var(--green_pantone);
    text-transform: capitalize;
    transition: .6s;
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 20px;
    transform: scale(0.8) translateY(-50%);
}

.feature-active {
    opacity: 1;
    transform: scale(1) translateY(-50%);
}

.features-list-elm:hover {
    color: var(--cadmium_green);
}

.feature-col {
    padding: 10px;
    display: inline-block;
    width: 360px;
}
.feature-card {
    padding: 15px;
    text-align: center;
    transition: .3s;
    cursor: pointer;
}

.feature-card:hover {
    border-bottom: solid 4px var(--cadmium_green_tra);
    border-radius: 5px;
    background-color: var(--side_black);
    color: var(--green_pantone);
}
.feature-card:active {
    font-weight: bold;
}

.feature-card-active {
    border-bottom: solid 6px var(--cadmium_green_tra);
    border-radius: 5px;
    color: var(--green_pantone);
}

.feature-card h1 {
    font-size: 25px;
    margin: 0;
}
.feature-card i {
    margin-right: 5px;
    font-size: 30px;
}