:root {
/* -- Main Greens */
    --green_pantone: #14B85B;
    --sea_green: #20834B;
    --cadmium_green: #1A6C3D;
    --shadow_green: #1a6c3d66;
    --cadmium_green_tra: #1a6c3e54;

/* -- Dark Colors */
    --modal_back: #0C0C0CBF;
    --black_light: #151515;
    --side_black: #181818;
    --middle_black: #1B1B1B;
    --earie_black: #1F1F1F;
    --darkest_jet: #202020;
    --darker_jet: #232323;
    --jet_shadow: #292929d4;
    --jet: #292929;
    --jet_mid: #2E2E2E;
    --jet_glass: #2e2e2e6b;
    --jet_light: #333333;
    --hr_gray: #4950573d;
    --onyx: #3D3D3D;
    --onyx_middle: #606060;
    --onyx_light: #767676;

/* -- Light Colors */
    --graysix: #858585;
    --grayXgray: #B9B9B9;
    --platinium: #EBEBEB;
    --cultured: #b9b9b9;

/* -- Other Colors */
    --danger: #631E24;
    --danger_light: #861E27;
    --like_trans: #1b151545;
    --none_opacity: #0000009e;
}


body {
  background-color: var(--black_light);
  background-size: auto;
  font-family: "Montserrat", sans-serif;
  color: var(--platinium);
}
